* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
  margin-inline: auto;
}

#duration {
  flex-grow: 1;
}

select,
input[type="text"],
button {
  padding: 12px;
  font: inherit;
}

.duration-container {
  display: flex;
}

.toast.success {
  background-color: green;
}

.toast.error {
  background-color: red;
}

.toast.warning {
  background-color: rgb(188, 188, 8);
}

.toast.info {
  background-color: gray;
}

.toast.success::before {
  content: "✓";
}

.toast.error::before {
  content: "✗";
}

.toast.warning::before {
  content: "⚠";
}

.toast.info::before {
  content: "ⓘ";
}

.toast-container {
  position: absolute;
  padding: 0 16px;
  overflow: hidden;
  gap: 8px;
  display: flex;
  flex-direction: column;
  top: 1rem;
  left: 0rem;
}

.toast {
  margin: auto;
  color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 4px;
  animation: fromLeft 0.5s ease-in;
}

.toast.toLeft {
  animation: toLeft 0.5s ease-out forwards;
}
.toast-container.right .toast {
  animation: fromRight 0.5s ease-in;
}
.toast-containerrv.right .toast.toRight {
  animation: toRight 0.5s ease-out forwards;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.toast span {
  cursor: pointer;
}

.toast-container.right {
  left: auto;
  right: 1rem;
}

.toast-container.bottom {
  top: auto;
  bottom: 1rem;
}
